<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdonisJS - A full featured web framework for Node.js </title>

    @@vite(['resources/js/app.js'])
</head>

<body>
    <h1>{{movie}}</h1> // we can destructured value of movie directly
    <h1>Hello from Movies </h1>
    <h1>{{new_movie}}</h1>
</body>

</html>